.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 180px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background-color: #2ecc71;
  color: rgb(10, 7, 7);
  cursor: pointer;
  border-radius: 4px;
}
