.product-card {
  border: 3px solid #ddd;
  padding: 20px;
  width: 220px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border: 3px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  color: #333;
}

.product-card button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background-color: #2ecc71;
  color: rgb(10, 7, 7);
  cursor: pointer;
  border-radius: 4px;
}
