.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  background-color: #02521d;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-text span {
  color: #2ecc71;
}

.hero-text p {
  margin-bottom: 20px;
  font-size: 16px;
}

.hero-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.primary-btn {
  background-color: #2ecc71;
  color: rgb(23, 20, 20);
}

.secondary-btn {
  background-color: #0c0505;
  margin-left: 10px;
}

.hero-image img {
  width: 300px;
}
