.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #2ecc71;
  color: rgb(19, 11, 11);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search-box {
  display: flex;
  gap: 5px;
}

.search-box input {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  width: 250px;
}

.search-box button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.cart-icon {
  font-size: 20px;
  cursor: pointer;
}
