.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #2ecc71;
  color: rgb(19, 11, 11);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search-box {
  display: flex;
  gap: 5px;
}

.search-box input {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  width: 250px;
}

.search-box button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.cart-icon {
  font-size: 20px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff9f00;
  color: white;
  font-size: 11px;
  font-weight: bold;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
